html {
  scroll-behavior: smooth;
}

body {
  background-image: url('../img/background.svg');
}

img.absolute {
    position: absolute;
    z-index: -1;
    margin: 0px;
}

img.rounded-corners {
    border-radius: 0.80rem;
}

hr {
    background-color: #0a1aa8;
    height: 5px;
    width: 100px;
    border-radius: 2px;
}

.navbar.is-fixed-top.scroll {
  transition: background-color 0.4s linear;
  background-color: hsla(0, 0%, 4%, 0.445);
  border-bottom-left-radius: 0.80rem;
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000B76;
}