@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

$primaryCustomColor: #000B76;
$primaryInvertedColor: hsl(0, 0%, 98%);
$blackKinda: #424242;

$primary: $primaryCustomColor;
$primary-inverted: $primaryInvertedColor;
$footer-background-color: $blackKinda;
$footer-color:#dcdde1;
$family-sans-serif: 'Comfortaa', cursive;
$body-background-color: hsl(0, 0%, 7%);
$navbar-background-color: transparent;
$navbar-item-hover-color: #162df7;
$navbar-item-hover-background-color: transparent;
$text: white;
$card-background-color: hsl(0, 0%, 4%);
$card-radius: 0.80rem;
$card-content-padding: 1.7rem;

@import "../css/bulma/sass/utilities/_all.sass";
@import "../css/bulma/sass/base/_all.sass";
@import "../css/bulma/sass/elements/_all.sass";
@import "../css/bulma/sass/form/_all.sass";
@import "../css/bulma/sass/components/_all.sass";
@import "../css/bulma/sass/grid/_all.sass";
@import "../css/bulma/sass/helpers/_all.sass";
@import "../css/bulma/sass/layout/_all.sass";
